<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="USERID" value="KOKEN_Y" />
    <add key="ENCPASSWD" value=";@=8BTO" />
    <add key="HOST" value="KEMSVR3" />
    <add key="SID" value="KOKEN" />
    <add key="DEFAULT_PATH" value="\\kmtsvr\共有SVEM02\『クボタデータ』" />
    <add key="識別" value="false" />
    <add key="種別" value="false" />
    <add key="接続" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>